main{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.contenedor {
    display: flex;
}

.columna-fija {
    position: fixed;
    width: 200px;
    padding: 20px;

}

.columna-scroll {
    flex: 1;
    padding: 2opx;
    margin-left: 450px; 
    margin-right: 100px;

}
h2{
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 1.6rem;
}

button{
    
    margin-left: 3rem;
    width: 18rem;
    height: 2.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 1rem;
    
}
header{
    width: 24rem;
}


article{
    font-size: 1.6rem;
}
 


 